<h1> Projects <i class="fa fa-circle-o-notch fa-spin" style="font-size:34px" *ngIf="isLoading"></i></h1>
<div class="row">
  <div class="col-8 mx-auto">
    <div class="form-group form-row">
      <label for="drpSearchBy" class="col-form-label col-1">Filter By</label>
      <div class="col-4">
        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchOptions.field">
          <option value="All">All</option>
          <option value="ProjectID">Id</option>
          <option value="ProjectName">Name</option>
          <option value="DateOfStart">Start Date</option>
          <option value="TeamSize">Team Size</option>
        </select>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="SearchText"
            [(ngModel)]="searchOptions.value" />
          <div class="input-group-append" (click)="onFilter()">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 mx-auto mb-2">
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#newModal" (click)="onOpenCreateModal()">
          Create Project
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-secondary" (click)="onToogleDetails()">Hide/Show Details</button>    
      </div>
    </div>
  </div>
  <div class="col-8 mx-auto">
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <project [currentProject]="project" (onChoose)="onChooseProject($event)">
          <check-box-printer></check-box-printer>
        </project>
      </div>
    </div>
  </div>
</div>

<form #newForm="ngForm" novalidate="novalidate">
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">{{ modalState }} Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">No.</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectID" style="width:100px" class="form-control" placeholder="ID" #prjID
                name="ProjectID" [(ngModel)]="project.id" [disabled]="modalState=='Edit'?true:false"  required  pattern="^[0-9]*$" #projectId="ngModel"  [ngClass]="{ 'is-invalid': projectId.invalid && (projectId.dirty || projectId.touched || newForm.submitted),'is-valid': projectId.valid && (projectId.dirty || projectId.touched || newForm.submitted)}">

                <span class="text-danger" *ngIf="projectId.invalid && (projectId.dirty || projectId.touched || newForm.submitted) && projectId.errors?.required">Project ID can't be blank</span>
                <span class="text-danger" *ngIf="projectId.invalid && projectId.errors?.pattern">Project ID should contain numbers only</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectName" class="form-control" placeholder="Name" name="ProjectName"
                [(ngModel)]="project.name" required minlength="3" maxlength="30" pattern="^[A-Za-z0-9 /-]*$" #newProjectName="ngModel" [ngClass]="{ 'is-invalid': newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || newForm.submitted), 'is-valid': newProjectName.valid && (newProjectName.dirty || newProjectName.touched || newForm.submitted) }">

                <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || newForm.submitted) && newProjectName.errors?.required">Project Name can't be blank</span>
                <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || newForm.submitted) && newProjectName.errors?.pattern">Project Name can contain alphabets, digits, dot, hyphen or space only</span>
                <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty || newProjectName.touched || newForm.submitted) && newProjectName.errors?.minlength">Project name should be at least 3 characters long</span>
              </div>
          </div>

          <div class="form-group row">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Start at </label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDateOfStart" style="width:180px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="project.startDate" required #newDateOfStart="ngModel" [ngClass]="{ 'is-invalid': newDateOfStart.invalid && (newDateOfStart.dirty || newDateOfStart.touched || newForm.submitted), 'is-valid': newDateOfStart.valid && (newDateOfStart.dirty || newDateOfStart.touched || newForm.submitted) }">
                <span class="text-danger" *ngIf="newDateOfStart.invalid && (newDateOfStart.dirty || newDateOfStart.touched || newForm.submitted) && newDateOfStart.errors?.required">Date of Start can't be blank</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtTeamSize" style="width:180px" class="form-control" placeholder="Team Size"
                name="TeamSize" [(ngModel)]="project.teamSize" pattern="^[0-9]*$" maxlength="7" required #newTeamSize="ngModel" [ngClass]="{ 'is-invalid': newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted), 'is-valid': newTeamSize.valid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) }">
                <span class="text-danger" *ngIf="newTeamSize.invalid && (newTeamSize.dirty || newTeamSize.touched || newForm.submitted) && newTeamSize.errors?.required">Team Size should be a number</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="col-sm-4 col-form-label">&nbsp;</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input type="checkbox" id="chkNewActive" value="true" class="form-check-input" [(ngModel)]="project.isActive" name="active">
                <label class="form-check-label" for="chkNewActive">is Active</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="rbNewStatusInForce" class="col-sm-4">Status</label>
            <div class="col-sm-8">

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusInForce" value="In Force" class="form-check-input" name="Status" [(ngModel)]="project.status" required="required" #newStatusInForce="ngModel">
                <label for="rbNewStatusInForce" class="form-check-label">In Force</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusSupport" value="Support" class="form-check-input" name="Status" [(ngModel)]="project.status" required="required" #newStatusSupport="ngModel">
                <label for="rbNewStatusSupport" class="form-check-label">Support</label>
              </div>

              <span class="text-danger" *ngIf="newStatusInForce.invalid && (newStatusInForce.dirty || newStatusInForce.touched || newForm.submitted) && newStatusInForce.errors?.required">Please select status</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="drpNewClientLocation" class="col-sm-4 col-form-label">Client Location</label>
            <div class="col-sm-8">
              <select id="drpNewClientLocation" class="form-control" name="ClientLocation" [(ngModel)]="project.locationId" required="required" #newClientLocationID="ngModel" [ngClass]="{ 'is-invalid': newClientLocationID.invalid && (newClientLocationID.dirty || newClientLocationID.touched || newForm.submitted), 'is-valid': newClientLocationID.valid && (newClientLocationID.dirty || newClientLocationID.touched || newForm.submitted) }">
                <option value="null">Please Select</option>
                <option *ngFor="let location of locations" [value]="location.id">
                  {{location.name}}
                </option>
              </select>
              <span class="text-danger" *ngIf="newClientLocationID.invalid && (newClientLocationID.dirty || newClientLocationID.touched || newForm.submitted) && newClientLocationID.errors?.required">Please client location</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onSaveForm()">Accept</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">Delete Project</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <p class="col-sm-12 col-form-label">Are you sure you want to delete this project?</p>
          </div>

          <div class="form-group row">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">No.</label>
            <div class="col-sm-8">
              <input type="number" id="txtDeleteProjectID" style="width:100px" class="form-control" placeholder="ID"
                name="ProjectID" [(ngModel)]="project.id" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeleteProjectName" class="form-control" placeholder="Name" name="ProjectName"
                [(ngModel)]="project.name" disabled>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onDeleteConfirmed()">Accept</button>
        </div>
      </div>
    </div>
  </div>
</form>